.list {
  width: 100%;
  display: grid;
  grid-template-columns: 47% 47%;
  grid-gap: 16px;
  @media (min-width: 768px){
    grid-template-columns: 32% 32% 32%;
  }
  @media (min-width: 1024px){
    grid-template-columns: 24% 24% 24% 24%;
  }
  
  &__item {
    width: 100%;
    margin: 10px 0;
    padding: 16px 8px;
    border: 1px solid $light-gray;
    border-radius: 4px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
    &-link {
      width: 100%;
      display: block;
    }
    &-image {
      width: 100%;
      height: 160px;
      margin-bottom: 16px;
      padding-bottom: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $gray;
      & img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
      }
    }
    & h2 {
      min-height: 40px;
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: 600;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    & p{
      font-size: 12px;
      & span {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}