@import './variables';

@import '../containers/App/App.scss';
@import '../containers/List/List.scss';

@import '../components/Header/Header.scss';
@import '../components/Button/Button.scss';
@import '../components/Footer/Footer.scss';

@import '../routes/Home/Home.scss';

