@import './variables';

@import '../containers/App/App.scss';
@import '../containers/List/List.scss';
@import '../containers/ProductDetail/ProductDetail.scss';

@import '../components/Header/Header.scss';
@import '../components/Loading/Loading.scss';
@import '../components/Button/Button.scss';
@import '../components/Footer/Footer.scss';

