.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: $burgundy;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
  & h1 {
    font-size: 24px;
    font-weight: 600;
    color: $white;
    & span {
      font-size: 32px
    }
  }
}