.footer {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $black;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
  & p {
    font-size: 14px;
    color: $white;
  }
  
  &__links {
    width: 120px;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    color: $white;
    @media (min-width: 1024px){
      cursor: pointer;
      transition: 0.3s ease-in-out;
      &:hover {
        color: $burgundy;
      }
    }
  }
}