.footer {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: $black;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
  & p {
    font-size: 14px;
    color: $white;
  }
  
  &__links {
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    color: $white;
    // cursor: pointer;
    // &:hover {
    //   color: darken($color: $white, $amount: 0)
    // }
  }
}