* {
  box-sizing: border-box;
}

body {
  margin: 60px 0 0;
  height: 100vh;
  padding: 0;
  font-family: $hind-madurai;
  color: $black;
}

#root {
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: unset;
}

.container {
  width: 90%;
  margin: 92px auto 32px;
  @media (min-width: 768px){
    width: 600px;
  }
  @media (min-width: 1024px){
    width: 900px;
  }
}