body {
  margin: 0;
  padding: 0;
  font-family: $hind-madurai;
  color: $black;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: unset;
}

.container {
  width: 90%;
  margin: 0 auto;
}