.product {
  
  &__image {
    width: 90%;
    height: 300px;
    margin: 0 auto 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    & img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
    }
    & p {
      color: $burgundy;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
    }
  }
  
  &__info {
    & h2 {
      margin: 0 0 16px;
      font-size: 24px;
      font-weight: 600;
    }
    & p {
      margin: 0 0 16px;
      font-size: 16px;
      & span {
        font-size: 30px;
        font-weight: 600;
      }
    }
    & h3 {
      margin: 0 0 16px;
      font-size: 14px;
    }
    &-undefined {
      color: $burgundy;
      font-size: 20px;
      font-weight: 600;
    }
    &-location {
      display: flex;
      justify-content: space-between;
      & p {
        margin: 0 0 16px;
        font-size: 14px;
        & span {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
  
  &__btn {
    &-back {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__not-found {
    color: $burgundy;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
}